@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&family=Roboto:wght@100;300;400;700&display=swap');

:root {

}

* {
  margin:0;
  padding:0;
}

body {
  font-family: 'Roboto', sans-serif;
}

table {
  margin: auto;
  max-width:1200px; 
  table-layout: auto;
  width: calc(100% - 16px);
  border-radius: 20px;
  border-spacing:0;
  border:1px solid lightgray;
  table-layout: auto;
  box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;  
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  overflow-x: scroll;
}

th {
  height:60px;
  background:darkblue;
  color:white;
}

td {
  padding:8px;
  overflow-wrap:break-word;
  text-align: center;
  word-break: break-all;
  hyphens:auto; 
  height:40px;
}

td:nth-child(2) {
  text-align: left;
  font-weight: bold;
}

tr {
  background: white;
  height: 20px;
  border-bottom:1px solid lightgray;
}

tr:hover {
  background:#eee;
}

tr:nth-child(even) {
  background:rgb(247, 247, 247);
}


tr:nth-child(-n+4) {
  background:lightblue;
}

tr:nth-last-child(-n+4) {
  background:lightcoral;
}

@media screen and (max-width: 768px) {
  /* POS Equipo PJ G E P GF GC DG PTS */
  /*  1     2    3 4 5 6  7  8 9   10 */
  table td:nth-child(1) {
    display:none;
  }
  table td:nth-child(7) {
    display:none;
  }
  table td:nth-child(8) {
    display:none;
  }
  table td:nth-child(9) {
    display:none;
  }
  table th:nth-child(1) {
    display:none;
  }
  table th:nth-child(7) {
    display:none;
  }
  table th:nth-child(8) {
    display:none;
  }
  table th:nth-child(9) {
    display:none;
  }
  /* table th:nth-child(3) {
    display:none;
  } */
}